include dlg/translator/web/img/*
include dlg/translator/web/*.css
include dlg/translator/web/*.js
include dlg/translator/web/*.html
include dlg/translator/stages/prepare/*.schema
include dlg/translator/stages/partition/algorithms/lib/*